$black                 : #000000;
$white                 : #FFFFFF;
$red                   : #F44336;
$red-1                 : #FFEBEE;
$red-2                 : #FFCDD2;
$red-3                 : #EF9A9A;
$red-4                 : #E57373;
$red-5                 : #EF5350;
$red-6                 : #F44336;
$red-7                 : #E53935;
$red-8                 : #D32F2F;
$red-9                 : #C62828;
$red-10                : #B71C1C;
$red-11                : #FF8A80;
$red-12                : #FF5252;
$red-13                : #FF1744;
$red-14                : #D50000;
$pink                  : #E91E63;
$pink-1                : #FCE4EC;
$pink-2                : #F8BBD0;
$pink-3                : #F48FB1;
$pink-4                : #F06292;
$pink-5                : #EC407A;
$pink-6                : #E91E63;
$pink-7                : #D81B60;
$pink-8                : #C2185B;
$pink-9                : #AD1457;
$pink-10               : #880E4F;
$pink-11               : #FF80AB;
$pink-12               : #FF4081;
$pink-13               : #F50057;
$pink-14               : #C51162;
$purple                : #9C27B0;
$purple-1              : #F3E5F5;
$purple-2              : #E1BEE7;
$purple-3              : #CE93D8;
$purple-4              : #BA68C8;
$purple-5              : #AB47BC;
$purple-6              : #9C27B0;
$purple-7              : #8E24AA;
$purple-8              : #7B1FA2;
$purple-9              : #6A1B9A;
$purple-10             : #4A148C;
$purple-11             : #EA80FC;
$purple-12             : #E040FB;
$purple-13             : #D500F9;
$purple-14             : #AA00FF;
$deep-purple           : #673AB7;
$deep-purple-1         : #EDE7F6;
$deep-purple-2         : #D1C4E9;
$deep-purple-3         : #B39DDB;
$deep-purple-4         : #9575CD;
$deep-purple-5         : #7E57C2;
$deep-purple-6         : #673AB7;
$deep-purple-7         : #5E35B1;
$deep-purple-8         : #512DA8;
$deep-purple-9         : #4527A0;
$deep-purple-10        : #311B92;
$deep-purple-11        : #B388FF;
$deep-purple-12        : #7C4DFF;
$deep-purple-13        : #651FFF;
$deep-purple-14        : #6200EA;
$indigo                : #3F51B5;
$indigo-1              : #E8EAF6;
$indigo-2              : #C5CAE9;
$indigo-3              : #9FA8DA;
$indigo-4              : #7986CB;
$indigo-5              : #5C6BC0;
$indigo-6              : #3F51B5;
$indigo-7              : #3949AB;
$indigo-8              : #303F9F;
$indigo-9              : #283593;
$indigo-10             : #1A237E;
$indigo-11             : #8C9EFF;
$indigo-12             : #536DFE;
$indigo-13             : #3D5AFE;
$indigo-14             : #304FFE;
$blue                  : #2196F3;
$blue-1                : #E3F2FD;
$blue-2                : #BBDEFB;
$blue-3                : #90CAF9;
$blue-4                : #64B5F6;
$blue-5                : #42A5F5;
$blue-6                : #2196F3;
$blue-7                : #1E88E5;
$blue-8                : #1976D2;
$blue-9                : #1565C0;
$blue-10               : #0D47A1;
$blue-11               : #82B1FF;
$blue-12               : #448AFF;
$blue-13               : #2979FF;
$blue-14               : #2962FF;
$light-blue            : #03A9F4;
$light-blue-1          : #E1F5FE;
$light-blue-2          : #B3E5FC;
$light-blue-3          : #81D4FA;
$light-blue-4          : #4FC3F7;
$light-blue-5          : #29B6F6;
$light-blue-6          : #03A9F4;
$light-blue-7          : #039BE5;
$light-blue-8          : #0288D1;
$light-blue-9          : #0277BD;
$light-blue-10         : #01579B;
$light-blue-11         : #80D8FF;
$light-blue-12         : #40C4FF;
$light-blue-13         : #00B0FF;
$light-blue-14         : #0091EA;
$cyan                  : #00BCD4;
$cyan-1                : #E0F7FA;
$cyan-2                : #B2EBF2;
$cyan-3                : #80DEEA;
$cyan-4                : #4DD0E1;
$cyan-5                : #26C6DA;
$cyan-6                : #00BCD4;
$cyan-7                : #00ACC1;
$cyan-8                : #0097A7;
$cyan-9                : #00838F;
$cyan-10               : #006064;
$cyan-11               : #84FFFF;
$cyan-12               : #18FFFF;
$cyan-13               : #00E5FF;
$cyan-14               : #00B8D4;
$teal                  : #009688;
$teal-1                : #E0F2F1;
$teal-2                : #B2DFDB;
$teal-3                : #80CBC4;
$teal-4                : #4DB6AC;
$teal-5                : #26A69A;
$teal-6                : #009688;
$teal-7                : #00897B;
$teal-8                : #00796B;
$teal-9                : #00695C;
$teal-10               : #004D40;
$teal-11               : #A7FFEB;
$teal-12               : #64FFDA;
$teal-13               : #1DE9B6;
$teal-14               : #00BFA5;
$green                 : #4CAF50;
$green-1               : #E8F5E9;
$green-2               : #C8E6C9;
$green-3               : #A5D6A7;
$green-4               : #81C784;
$green-5               : #66BB6A;
$green-6               : #4CAF50;
$green-7               : #43A047;
$green-8               : #388E3C;
$green-9               : #2E7D32;
$green-10              : #1B5E20;
$green-11              : #B9F6CA;
$green-12              : #69F0AE;
$green-13              : #00E676;
$green-14              : #00C853;
$light-green           : #8BC34A;
$light-green-1         : #F1F8E9;
$light-green-2         : #DCEDC8;
$light-green-3         : #C5E1A5;
$light-green-4         : #AED581;
$light-green-5         : #9CCC65;
$light-green-6         : #8BC34A;
$light-green-7         : #7CB342;
$light-green-8         : #689F38;
$light-green-9         : #558B2F;
$light-green-10        : #33691E;
$light-green-11        : #CCFF90;
$light-green-12        : #B2FF59;
$light-green-13        : #76FF03;
$light-green-14        : #64DD17;
$lime                  : #CDDC39;
$lime-1                : #F9FBE7;
$lime-2                : #F0F4C3;
$lime-3                : #E6EE9C;
$lime-4                : #DCE775;
$lime-5                : #D4E157;
$lime-6                : #CDDC39;
$lime-7                : #C0CA33;
$lime-8                : #AFB42B;
$lime-9                : #9E9D24;
$lime-10               : #827717;
$lime-11               : #F4FF81;
$lime-12               : #EEFF41;
$lime-13               : #C6FF00;
$lime-14               : #AEEA00;
$yellow                : #FFEB3B;
$yellow-1              : #FFFDE7;
$yellow-2              : #FFF9C4;
$yellow-3              : #FFF59D;
$yellow-4              : #FFF176;
$yellow-5              : #FFEE58;
$yellow-6              : #FFEB3B;
$yellow-7              : #FDD835;
$yellow-8              : #FBC02D;
$yellow-9              : #F9A825;
$yellow-10             : #F57F17;
$yellow-11             : #FFFF8D;
$yellow-12             : #FFFF00;
$yellow-13             : #FFEA00;
$yellow-14             : #FFD600;
$amber                 : #FFC107;
$amber-1               : #FFF8E1;
$amber-2               : #FFECB3;
$amber-3               : #FFE082;
$amber-4               : #FFD54F;
$amber-5               : #FFCA28;
$amber-6               : #FFC107;
$amber-7               : #FFB300;
$amber-8               : #FFA000;
$amber-9               : #FF8F00;
$amber-10              : #FF6F00;
$amber-11              : #FFE57F;
$amber-12              : #FFD740;
$amber-13              : #FFC400;
$amber-14              : #FFAB00;
$orange                : #FF9800;
$orange-1              : #FFF3E0;
$orange-2              : #FFE0B2;
$orange-3              : #FFCC80;
$orange-4              : #FFB74D;
$orange-5              : #FFA726;
$orange-6              : #FF9800;
$orange-7              : #FB8C00;
$orange-8              : #F57C00;
$orange-9              : #EF6C00;
$orange-10             : #E65100;
$orange-11             : #FFD180;
$orange-12             : #FFAB40;
$orange-13             : #FF9100;
$orange-14             : #FF6D00;
$deep-orange           : #FF5722;
$deep-orange-1         : #FBE9E7;
$deep-orange-2         : #FFCCBC;
$deep-orange-3         : #FFAB91;
$deep-orange-4         : #FF8A65;
$deep-orange-5         : #FF7043;
$deep-orange-6         : #FF5722;
$deep-orange-7         : #F4511E;
$deep-orange-8         : #E64A19;
$deep-orange-9         : #D84315;
$deep-orange-10        : #BF360C;
$deep-orange-11        : #FF9E80;
$deep-orange-12        : #FF6E40;
$deep-orange-13        : #FF3D00;
$deep-orange-14        : #DD2C00;
$brown                 : #795548;
$brown-1               : #EFEBE9;
$brown-2               : #D7CCC8;
$brown-3               : #BCAAA4;
$brown-4               : #A1887F;
$brown-5               : #8D6E63;
$brown-6               : #795548;
$brown-7               : #6D4C41;
$brown-8               : #5D4037;
$brown-9               : #4E342E;
$brown-10              : #3E2723;
$brown-11              : #D7CCC8;
$brown-12              : #BCAAA4;
$brown-13              : #8D6E63;
$brown-14              : #5D4037;
$grey                  : #9E9E9E;
$grey-1                : #FAFAFA;
$grey-2                : #F5F5F5;
$grey-3                : #EEEEEE;
$grey-4                : #E0E0E0;
$grey-5                : #BDBDBD;
$grey-6                : #9E9E9E;
$grey-7                : #757575;
$grey-8                : #616161;
$grey-9                : #424242;
$grey-10               : #212121;
$grey-11               : #F5F5F5;
$grey-12               : #EEEEEE;
$grey-13               : #BDBDBD;
$grey-14               : #616161;
$blue-grey             : #607D8B;
$blue-grey-1           : #ECEFF1;
$blue-grey-2           : #CFD8DC;
$blue-grey-3           : #B0BEC5;
$blue-grey-4           : #90A4AE;
$blue-grey-5           : #78909C;
$blue-grey-6           : #607D8B;
$blue-grey-7           : #546E7A;
$blue-grey-8           : #455A64;
$blue-grey-9           : #37474F;
$blue-grey-10          : #263238;
$blue-grey-11          : #CFD8DC;
$blue-grey-12          : #B0BEC5;
$blue-grey-13          : #78909C;
$blue-grey-14          : #455A64;

$material-short-colors : (
    'amber': (
        '': $amber,
        '1': $amber-1,
        '2': $amber-2,
        '3': $amber-3,
        '4': $amber-4,
        '5': $amber-5,
        '6': $amber-6,
        '7': $amber-7,
        '8': $amber-8,
        '9': $amber-9,
        '10': $amber-10,
        '11': $amber-11,
        '12': $amber-12,
        '13': $amber-13,
        '14': $amber-14,
    ),
    'blue': (
        '': $blue,
        '1': $blue-1,
        '2': $blue-2,
        '3': $blue-3,
        '4': $blue-4,
        '5': $blue-5,
        '6': $blue-6,
        '7': $blue-7,
        '8': $blue-8,
        '9': $blue-9,
        '10': $blue-10,
        '11': $blue-11,
        '12': $blue-12,
        '13': $blue-13,
        '14': $blue-14,
    ),
    'blue-grey': (
        '': $blue-grey,
        '1': $blue-grey-1,
        '2': $blue-grey-2,
        '3': $blue-grey-3,
        '4': $blue-grey-4,
        '5': $blue-grey-5,
        '6': $blue-grey-6,
        '7': $blue-grey-7,
        '8': $blue-grey-8,
        '9': $blue-grey-9,
        '10': $blue-grey-10,
        '11': $blue-grey-11,
        '12': $blue-grey-12,
        '13': $blue-grey-13,
        '14': $blue-grey-14,
    ),
    'brown': (
        '': $brown,
        '1': $brown-1,
        '2': $brown-2,
        '3': $brown-3,
        '4': $brown-4,
        '5': $brown-5,
        '6': $brown-6,
        '7': $brown-7,
        '8': $brown-8,
        '9': $brown-9,
        '10': $brown-10,
        '11': $brown-11,
        '12': $brown-12,
        '13': $brown-13,
        '14': $brown-14,
    ),
    'common': (
        'black': $black,
        'white': $white,
    ),
    'cyan': (
        '': $cyan,
        '1': $cyan-1,
        '2': $cyan-2,
        '3': $cyan-3,
        '4': $cyan-4,
        '5': $cyan-5,
        '6': $cyan-6,
        '7': $cyan-7,
        '8': $cyan-8,
        '9': $cyan-9,
        '10': $cyan-10,
        '11': $cyan-11,
        '12': $cyan-12,
        '13': $cyan-13,
        '14': $cyan-14,
    ),
    'deep-orange': (
        '': $deep-orange,
        '1': $deep-orange-1,
        '2': $deep-orange-2,
        '3': $deep-orange-3,
        '4': $deep-orange-4,
        '5': $deep-orange-5,
        '6': $deep-orange-6,
        '7': $deep-orange-7,
        '8': $deep-orange-8,
        '9': $deep-orange-9,
        '10': $deep-orange-10,
        '11': $deep-orange-11,
        '12': $deep-orange-12,
        '13': $deep-orange-13,
        '14': $deep-orange-14,
    ),
    'deep-purple': (
        '': $deep-purple,
        '1': $deep-purple-1,
        '2': $deep-purple-2,
        '3': $deep-purple-3,
        '4': $deep-purple-4,
        '5': $deep-purple-5,
        '6': $deep-purple-6,
        '7': $deep-purple-7,
        '8': $deep-purple-8,
        '9': $deep-purple-9,
        '10': $deep-purple-10,
        '11': $deep-purple-11,
        '12': $deep-purple-12,
        '13': $deep-purple-13,
        '14': $deep-purple-14,
    ),
    'green': (
        '': $green,
        '1': $green-1,
        '2': $green-2,
        '3': $green-3,
        '4': $green-4,
        '5': $green-5,
        '6': $green-6,
        '7': $green-7,
        '8': $green-8,
        '9': $green-9,
        '10': $green-10,
        '11': $green-11,
        '12': $green-12,
        '13': $green-13,
        '14': $green-14,
    ),
    'grey': (
        '': $grey,
        '1': $grey-1,
        '2': $grey-2,
        '3': $grey-3,
        '4': $grey-4,
        '5': $grey-5,
        '6': $grey-6,
        '7': $grey-7,
        '8': $grey-8,
        '9': $grey-9,
        '10': $grey-10,
        '11': $grey-11,
        '12': $grey-12,
        '13': $grey-13,
        '14': $grey-14,
    ),
    'indigo': (
        '': $indigo,
        '1': $indigo-1,
        '2': $indigo-2,
        '3': $indigo-3,
        '4': $indigo-4,
        '5': $indigo-5,
        '6': $indigo-6,
        '7': $indigo-7,
        '8': $indigo-8,
        '9': $indigo-9,
        '10': $indigo-10,
        '11': $indigo-11,
        '12': $indigo-12,
        '13': $indigo-13,
        '14': $indigo-14,
    ),
    'light-blue': (
        '': $light-blue,
        '1': $light-blue-1,
        '2': $light-blue-2,
        '3': $light-blue-3,
        '4': $light-blue-4,
        '5': $light-blue-5,
        '6': $light-blue-6,
        '7': $light-blue-7,
        '8': $light-blue-8,
        '9': $light-blue-9,
        '10': $light-blue-10,
        '11': $light-blue-11,
        '12': $light-blue-12,
        '13': $light-blue-13,
        '14': $light-blue-14,
    ),
    'light-green': (
        '': $light-green,
        '1': $light-green-1,
        '2': $light-green-2,
        '3': $light-green-3,
        '4': $light-green-4,
        '5': $light-green-5,
        '6': $light-green-6,
        '7': $light-green-7,
        '8': $light-green-8,
        '9': $light-green-9,
        '10': $light-green-10,
        '11': $light-green-11,
        '12': $light-green-12,
        '13': $light-green-13,
        '14': $light-green-14,
    ),
    'lime': (
        '': $lime,
        '1': $lime-1,
        '2': $lime-2,
        '3': $lime-3,
        '4': $lime-4,
        '5': $lime-5,
        '6': $lime-6,
        '7': $lime-7,
        '8': $lime-8,
        '9': $lime-9,
        '10': $lime-10,
        '11': $lime-11,
        '12': $lime-12,
        '13': $lime-13,
        '14': $lime-14,
    ),
    'orange': (
        '': $orange,
        '1': $orange-1,
        '2': $orange-2,
        '3': $orange-3,
        '4': $orange-4,
        '5': $orange-5,
        '6': $orange-6,
        '7': $orange-7,
        '8': $orange-8,
        '9': $orange-9,
        '10': $orange-10,
        '11': $orange-11,
        '12': $orange-12,
        '13': $orange-13,
        '14': $orange-14,
    ),
    'pink': (
        '': $pink,
        '1': $pink-1,
        '2': $pink-2,
        '3': $pink-3,
        '4': $pink-4,
        '5': $pink-5,
        '6': $pink-6,
        '7': $pink-7,
        '8': $pink-8,
        '9': $pink-9,
        '10': $pink-10,
        '11': $pink-11,
        '12': $pink-12,
        '13': $pink-13,
        '14': $pink-14,
    ),
    'purple': (
        '': $purple,
        '1': $purple-1,
        '2': $purple-2,
        '3': $purple-3,
        '4': $purple-4,
        '5': $purple-5,
        '6': $purple-6,
        '7': $purple-7,
        '8': $purple-8,
        '9': $purple-9,
        '10': $purple-10,
        '11': $purple-11,
        '12': $purple-12,
        '13': $purple-13,
        '14': $purple-14,
    ),
    'red': (
        '': $red,
        '1': $red-1,
        '2': $red-2,
        '3': $red-3,
        '4': $red-4,
        '5': $red-5,
        '6': $red-6,
        '7': $red-7,
        '8': $red-8,
        '9': $red-9,
        '10': $red-10,
        '11': $red-11,
        '12': $red-12,
        '13': $red-13,
        '14': $red-14,
    ),
    'teal': (
        '': $teal,
        '1': $teal-1,
        '2': $teal-2,
        '3': $teal-3,
        '4': $teal-4,
        '5': $teal-5,
        '6': $teal-6,
        '7': $teal-7,
        '8': $teal-8,
        '9': $teal-9,
        '10': $teal-10,
        '11': $teal-11,
        '12': $teal-12,
        '13': $teal-13,
        '14': $teal-14,
    ),
    'yellow': (
        '': $yellow,
        '1': $yellow-1,
        '2': $yellow-2,
        '3': $yellow-3,
        '4': $yellow-4,
        '5': $yellow-5,
        '6': $yellow-6,
        '7': $yellow-7,
        '8': $yellow-8,
        '9': $yellow-9,
        '10': $yellow-10,
        '11': $yellow-11,
        '12': $yellow-12,
        '13': $yellow-13,
        '14': $yellow-14,
    ),
);
